.btn-edit {
    background-color: #A9D6FF;
    border: none;
    border-radius: 10px;
    width: 80px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
}

.btn-edit:hover {
    box-shadow: 2px 2px 3px #A8CEF1;
}
.btn-edit:active {
    background-color: #5DADE2;
}